<div id="author">
    <div id="photo">
        <img src="images/photo.jpg"/>
    </div>
    <div id="name">Pablo Campos</div>
    <div id="video">
        <iframe src="https://www.youtube.com/embed/tKhmdl4c08Q" frameborder="0"></iframe>
    </div>
</div>
