<div>Edite la pregunta</div>

<form id="f" method="post" action="/quizes/<%= quiz.id %>?_method=put">
  <% include _form.ejs %>
</form>

<script type="application/javascript">
  $(
    function ()
    {
      $( 'select#tema' ).find( 'option[value="' + $( '#t' ).attr( 'value' ) + '"]' ).prop( 'selected' , true );
      $( 'form#f' ).on(
        'submit' , function ()
        {
          var preg = $( '#preg' );
          preg.attr(
            'value' , (
              (
                preg.attr( 'value' ) !== ''
              ) ? preg.attr( 'value' ) : preg.attr( 'placeholder' )
            )
          );
          var resp = $( '#resp' );
          resp.attr(
            'value' , (
              (
                resp.attr( 'value' ) !== ''
              ) ? resp.attr( 'value' ) : resp.attr( 'placeholder' )
            )
          );
        }
      );
    }
  );
</script>